﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{
    <ol>
        @foreach (var item in (string[])ViewData["Data"])
        {
            <li>
                @item
            </li>
        }
    </ol>
}

